main{
    background-color: white(70, 70, 70);
    flex: 1;
}

footer{
    padding: 0.75em 0;
}

.error-modal-header 
{
    background: #e85e6c;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.error-modal-icon
{
    width: 99%;
}

.error-modal-close
{
    width: 1%;
}

.icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 10px;
    text-align: center;
    font-size: 42px;
}

.modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.delete-cart-modal-header {
    background: #133800;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}